@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Interstate Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./assets/fonts/Interstate-Regular.otf") format("otf");
}

@layer base {
  @apply font-primary;
}
